// Fonts
$primary-font: "Inter", sans-serif;

// Font weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//Colors
$color-primary: #1F41F7;
$color-success: #6BE42B;
$color-info: #5FA9FF;
$color-warning: #FFAB36;
$color-danger: #FB3030;
$color-pink: #F72B64;
$color-purple: #CC35F1;
$color-cyan: #29E1C0;
$color-aquamarine: #14D2ED;
$color-grey: #7F8F98;
$color-black: #56585A;

$color-primary-200: #A5B7FE;
$color-black-200: #EAEDEE;

$color-success-100: #EDFDD4;
$color-info-100: #DFF3FF;
$color-warning-100: #FFF5D6;
$color-danger-100: #FEE3D5;

$color-main-text: #10182B;
$color-main-text-gray: #96999C;
$color-main-white: #FFFFFF;
$color-main-disable: #C8CBCD;
$color-main-border: #EAEDEE;